@charset "UTF-8";

/* 
paleta de cores:

verde: #49a09d.
lilás: #5f2c82.

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background-color: #5f2c82;
    background-image: url(../Imagens/pexels-sean-whang-25006-804269.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario {
    padding-bottom: 10px;
    text-align: center;
}

div#formulario > p {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 0.7em;
    font-weight: bold;
    display: none;
}

form > div.campo {
    background-color: #5f2c825f;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #294e6d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

form > input[type=submit]:hover {
    background-color: #0a1a27;
    cursor: pointer;
}

form > a.botão {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #294e6d; 
    border: 1px solid #49a09d;
    border-radius: 5px;
    padding: 8px 5px 5px 5px;
    margin: 5px;
    margin-left: 0px;
}

form > a.botão:hover {
    background-color: #0a1a27;
    cursor: pointer;
}
